<!DOCTYPE html>
<html xmlns:th="http//www.theamleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css1/styles_jobs.css">
</head>
<body>
    
    <header>
        <div class="container">
            
            <p class="logo">COLOMBIA.BIT</p>
            <nav>
                <form action="">
                    <div>
                    <input type="search" placeholder="Buscar"  required >
                    
                    </div>
                </form>
                <a href="#hero">Inicio</a>
                <a href="#P-f-de-p">Ecuentra Talento</a>
                <a href="#caracteristicas">Blog</a>
                <a href="#final">Personalizacion</a>

                <ul>
                    
                    <li><img src="imgs/bxs-cog.svg" alt="">
                        <ul>
                            <li><a href="#">Perfil</a></li>
                            <li><a href="#">Contacto</a></li>
                            <li><a href="#">Cerrar sesion</a></li>
                        </ul>
                    </li>
                    
                </ul>
                    
                
            </nav>
        </div>
    </header>
    
    <section id="hero">
        <h1>PERSIGUE TUS SUEÑOS<br><span class="color-acento">¡</span>NO DEJES DE PERSERGUIRLOS<span class="color-acento">!</span></h1>
        
    </section>
    
    
    <section id="El-avance-tecnologico">
        <div class="container">
        <div>
            <video class="video" src="imagenes/servidor2.mp4" autoplay playinline loop muted preload></video>
        </div>
            <!-- <div class="imagecontainer"></div> -->
                <div class="texto">
                    <h2>El mundo de la 
                    <span class="color-acento">Tecnologia</span></h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum, soluta vel. Et atque, itaque voluptate ratione consequatur exercitationem recusandae fugiat animi nam? Fugit excepturi odio omnis dignissimos adipisci nesciunt iusto?</p>
                </div>
        </div>
    </section>
    
    
    <section id="P-f-de-p">
        <div class="container">
            <h2>¿Estas buscando personal?</h2>
            <div class="procesadores">
                <div>
                    <div class="carta">
                        <img class="amdlogo" src="../mi propia pagina web/imagenes/882700c.png" alt style="width: 164px; height: 164px;">
                        <h3></h3>                     
                        <table>
                    <tr th:each="usuario: ${usuarios}">                    
                    <th>Nombre</th>
                    <td th:text="${usuario.nombres}"></td>                                               
                    </tr>
                    
                    <tr th:each="usuario: ${usuarios}">                    
                    <th>Apellidos</th>
                    <td th:text="${usuario.apellidos}"></td>                                               
                    </tr>
                    
                    <tr th:each="usuario: ${usuarios}">                    
                    <th>Correo electronico</th>
                    <td th:text="${usuario.correoelectronico}"></td>                                               
                    </tr>
                    
                    <tr th:each="usuario: ${usuarios}">                    
                    <th>Edad</th>
                    <td th:text="${usuario.edad}"></td>                                               
                    </tr>                                   
                    </table>
                        <p>llitia ducimus veritatis repellendus?</p>
                        <button>Ver Perfil</button>
                    </div>
                    <div class="carta">
                        <img class="amdlogo" src="../mi propia pagina web/imagenes/882700c.png" alt style="width: 164px; height: 164px;">
                        <h3></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt vero corporis incidunt saepe qui commodi quasi neque veniam quam, aspernatur est beatae maxime animi sed reiciendis mollitia ducimus veritatis repellendus?</p>
                        <button>Ver Perfil</button>
                    </div>
                    <div class="carta">
                        <img class="amdlogo" src="../mi propia pagina web/imagenes/882700c.png" alt style="width: 164px; height: 164px;">
                        <h3></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt vero corporis incidunt saepe qui commodi quasi neque veniam quam, aspernatur est beatae maxime animi sed reiciendis mollitia ducimus veritatis repellendus?</p>
                        <button>Ver Perfil</button>
                    </div>
                </div>
                <div>
                    <div class="carta">
                        <img class="amdlogo" src="../mi propia pagina web/imagenes/882700c.png" alt style="width: 164px; height: 164px;">
                        <h3></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt vero corporis incidunt saepe qui commodi quasi neque veniam quam, aspernatur est beatae maxime animi sed reiciendis mollitia ducimus veritatis repellendus?</p>
                        <button>Ver Perfil</button>
                    </div>
                    <div class="carta">
                        <img class="amdlogo" src="../mi propia pagina web/imagenes/882700c.png" alt style="width: 164px; height: 164px;">
                        <h3></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt vero corporis incidunt saepe qui commodi quasi neque veniam quam, aspernatur est beatae maxime animi sed reiciendis mollitia ducimus veritatis repellendus?</p>
                        <button>Ver Perfil</button>
                    </div>
                    <div class="carta">
                        <img class="amdlogo" src="../mi propia pagina web/imagenes/882700c.png" alt style="width: 164px; height: 164px;">
                        <h3></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt vero corporis incidunt saepe qui commodi quasi neque veniam quam, aspernatur est beatae maxime animi sed reiciendis mollitia ducimus veritatis repellendus?</p>
                        <button>Ver Perfil</button>
                    </div>
              </div>
            </div>
        </div>
    </section>
    
    <section id="caracteristicas">
        <div class="container">
            <ul>
                <p>tips</p>
                <li>✔️ Lorem ipsum dolor sit </li>
                <li>✔️ Lorem ipsum dolor sit </li>
                <li>✔️ Lorem ipsum dolor sit </li>
                <li>✔️ Lorem ipsum dolor sit </li>
                <li>✔️ Lorem ipsum dolor sit </li>
                
            </ul>
        <div>
    </section>
    
    
    <section id="final">
        <h2>Estas listo?</h2>
        <button>GO!!</button>
    </section>


    <footer>
        <div class="container">
            <p>&copy; Work Tecnology 2022</p>
        </div>

    </footer>
</body>
</html>